<!doctype.html>
<html ng-app="infoApp">
    <head>
        
        <title>Personal Info</title>

    </head>
    <body ng-controller="infoAppCtrl">
        <div ng-controller="formCtrl" >
            <button ng-click="goForm()">FORM</button>
            <button ng-click="">RECORD</button>
            
            
        
            
              <record-dir></record-dir>  
        </div>
        
        
        
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"> 
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script> 
        
        <script type="text/javascript" src="/js/controller/infoAppCtrl.js"></script> 
        <script type="text/javascript" src="/js/directives/record.js"></script> 
        <script type="text/javascript" src="/js/services/productService.js"></script> 
        
        
        
    </body>
</html>